@page "{id:int}"
@model Feedback.RazorPages.Pages.Feedbacks.Visualizar

<h1>Detalhes do Feedback</h1>

<div>
    <p><strong>Nome do Cliente: </strong>@Model.FeedbackDetails.NomeCliente</p>
    <p><strong>Email do Cliente: </strong>@Model.FeedbackDetails.EmailCliente</p>
    <p><strong>Data do Feedback: </strong>@Model.FeedbackDetails.DataFeedback</p>
    <p><strong>Comentário: </strong>@Model.FeedbackDetails.Comentario</p>
    <p><strong>Avaliação: </strong>@Model.FeedbackDetails.Avaliacao</p>
</div>
<a asp-page="Index">Voltar para a lista</a>